.axis--x path {
  display: none;
}

.line {
   fill: none;
   stroke-width: 2px;
}

svg{
	display: block;
	margin: auto;
}

#chart, #toggle{
	text-align: center;
}	

#toggle > div{
	display: inline-block;
}

text, h3, h6{
	font-family: 'Lato', sans-serif;
}